@model Shop.Web.ViewModels.EditProductViewModel

@{
    ViewBag.Title = "Edit";
}
    
    <form id="editProduct">
        <h3>Редагувати товар</h3>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Категорія</label>
                    <select class="form-control" name="CategoryID">

                        @foreach (var category in Model.AvailableCategories)
                        {
                            if (category.ID == Model.CategoryID)
                            {
                                <option value="@category.ID">@category.Name</option>
                            }
                            else
                            {

                            }

                        }
                        @foreach (var category in Model.AvailableCategories)
                        {
                            if (category.ID == Model.CategoryID)
                            {

                            }
                            else
                            {
                                <option value="@category.ID">@category.Name</option>
                            }

                        }

                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="hidden" name="ID" value="@Model.ID" />
                </div>
                <div class="form-group">
                    <label>Ім'я</label>
                    <input name="Name" class="form-control" value="@Model.Name" />
                </div>
                <div class="form-group">
                    <label>Опис</label>
                    <input name="Description" class="form-control" value="@Model.Description" />
                </div>
                <div class="form-group">
                    <label>Ціна</label>
                    <input class="form-control" name="Price" value="@Model.Price" />
                </div>
                <div class="form-group">
                    <label>Зображення</label>
                    <input id="ImageURL" name="ImageURL" type="hidden" src="@Model.ImageURL" value="@Model.ImageURL" />
                    <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
                </div>

            </div>
            <div class="col-md-4">
                <div class="thumb">
                    <img class="img-thumbnail img-fluid" id="productImage" src="@Model.ImageURL" />
                </div>
            </div>
        </div>
        <button type="button" id="updateBtn" class="btn btn-primary">Зберегти</button>
        <button id="cancelBtn" type="button" class="btn btn-primary">Назад</button>
    </form>

    <script>
        $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        $("#tableContainer").html(response);
        });
        $("#imageUpload").change(function () {
        debugger;
        var element = this;
        var formData = new FormData();
        var totalFile = element.files.length;
        for (var i = 0; i < totalFile; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }
        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage/',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        }).done(function (response) {
            debugger;
            console.log(response);
            if (response.Success) {
                $("#ImageURL").val(response.ImageURL);
                $("#productImage").attr("src", response.ImageURL);
            }
        }).fail(function (XMlHttpRequest, textStatus, errorThrow) {
                alert("FAIL");
            });
        
    });

    $("#updateBtn").click(function () {
        $.ajax({
            type:'POST',
            url: '/Product/Edit',
            data: $("#editProduct").serialize()

        }).done(function (response) {
            $("#tableContainer").html(response);
            $("#actionContainer").html("");
        }).fail(function (XMlHttpRequest, textStatus, errorThrow) {
            alert("FAIL");
        });
    });
    </script>

